/*****   ABOUT-US   *****/

#about-us {
    max-width: 100%;
    background-image: url(images/conception-fond-resume_1265-99.png), url(images/conception-fond-resume_1265-881.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left, bottom right;

    position: relative;

    @media (max-width: $size-dekstop2) {
        background-position-x: -200px, 75px;
    }

    @media (max-width: $size-tablette2) {
        background-image: url(images/conception-fond-resume_1265-991.png);
        background-size: cover;
        background-position-x: -200px;
    }

    h3 {
        display: none;
    }

    .button-tickets {
        top: 40px;
        right: 40px;
        position: absolute;
    }
}

.about-us-text {
    top: 0;
    left: 45%;
    position: relative;
    max-width: 45%;
    margin-bottom: 10px;
    font-family: $font-title;
    margin-bottom: 60px;

    @media (max-width: $size-dekstop) {
        left: 40%;
        max-width: 59%;
    }

    @media (max-width: $size-dekstop2) {
        left: 37%;
        max-width: 57%;
    }

    @media(max-width: $size-tablette2) {
        left: 20%;
        max-width: 65%;
    }

    @media(max-width: $size-phone) {
        left: 10%;
        max-width: 85.5%;
    }
}

.about-us-text-description {
    p {
        font-size: 22px;
        letter-spacing: 0.02rem;
        margin-top: 5px;
        font-weight: 100;

        @media(max-width: $size-dekstop3) {
            font-size: 20px;
        }

        @media(max-width: $size-tablette1) {
            font-size: 17px;
        }

        @media(max-width: $size-burger) {
            font-size: 16px;
        }
    }
}