/*****   CONCERTS   *****/

#concerts {
    background-color: $font-color-pink2;
    position: relative;
}

.page-artists {
    display: none;
    background-color: $font-color-pink2;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-wrap: nowrap;
    z-index: 1000;

    &.active {
        display: flex;
    }

    @media (max-width: $size-dekstop3) {
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        overflow-y: auto;
    }

    .icon-cross {
        top: 20px;
        left: 20px;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 2001;
        cursor: pointer;
    }

    .popup-concerts-description-block-parent {
        position: relative;
        width: 35%;
        padding: 60px 30px;

        @media (max-width: $size-dekstop3) {
            width: 100%;
            padding: 30px;
        }

        .popup-concert-text {
            color: $font-color-white;
            font-family: $font-title;
            font-size: 24px;
            text-align: center;
            margin-top: 15px;
        }

        h3 {
            color: $font-color-white;
            text-align: center;
            font-size: 40px;
            padding: 0;
            margin-bottom: 30px;
        }

        p {
            font-family: $font-title;
            color: $font-color-white;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 20px;
        }
    }

    .popup-concerts-video-block-parent {
        background-color: #000;
        display: flex;
        align-items: center;
        width: 65%;

        @media (max-width: $size-dekstop3) {
            width: 100%;
            order: -1;
        }

        .popup-concert-video {
            width: 100%;
            position: relative;
            padding-bottom: 56.25%;
            /*16:9*/
            height: 0;
            overflow: hidden;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
}

.galerie {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -80px;
}

.item {
    width: 500px;
    height: 500px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
    flex-shrink: 0;

    @media (max-width: 1620px) {
        width: 450px;
        height: 450px;
    }

    @media (max-width: 1470px) {
        width: 400px;
        height: 400px;
    }

    @media (max-width: 1320px) {
        width: 350px;
        height: 350px;
    }

    @media (max-width: 1170px) {
        width: 300px;
        height: 300px;
    }

    @media (max-width: 1020px) {
        width: 300px;
        height: 300px;
        margin-right: 10px;
        margin-left: 10px;
    }

    @media (max-width: 960px) {
        width: 350px;
        height: 350px;
        margin-right: 0px;
        margin-left: 0px;
    }

    @media (max-width: $size-tablette3) {
        width: 300px;
        height: 300px;
        margin-right: 0px;
        margin-left: 0px;
    }

    @media (max-width: $size-burger) {
        width: 400px;
        height: 400px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.item img {
    width: 100%;
    height: 0;
}

.block-parent-image {
    text-align: center;
}