/*****   UTILITY/ BUTTON-TITLE   *****/

.button-title-alignement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

/*****   UTILITY/ FOOTER (ICONES-PARTENAIRES)   *****/

.size1 {
    max-width: 65px;
    height: 65px;
}

.size2 {
    max-width: 100px;
    height: 65px;
}

.size3 {
    max-width: 100px;
    height: 85px;
}

.size4 {
    max-width: 65px;
    height: 55px;
}

.size5 {
    max-width: 100px;
    height: 35px;
}

.size6 {
    max-width: 60px;
    height: 80px;
}