/*****   TAG FONT   *****/
$font-title: 'Acme', sans-serif;
$font-text: 'Just Me Again Down Here', cursive;
$font-button: 'Akaya Kanadaka', cursive;

/*****   TAG COLOR   *****/
$font-color-green: #B0C96D;
$font-color-pink: #D04264;
$font-color-pink2: #E0007A;
$font-color-blue: #161581;
$font-color-orange: #E8542E;
$font-color-white: #ffffff;
$font-color-black: #000000;

/*****   TAG PRE_HEADER   *****/
$pre-header-height: 50px;

/*****   TAG MENU AND LOGO   *****/
$menu-height-mobile: 80px;
$menu-height: 80px;
$menu-width-item: 200px;
$menu-width-item-big: 150px;
$menu-width-item-mini: 120px;

/*****   TAG SIZE DEKSTOP   *****/
$size-dekstop: 1500px;
$size-dekstop1: 1450px;
$size-dekstop2: 1200px;
$size-dekstop3: 1100px;
$size-dekstop4: 900px;

/*****   TAG SIZE TABLETTE   *****/
$size-tablette: 850px;
$size-tablette1: 834px;
$size-tablette2: 833px;
$size-tablette3: 800px;
$size-tablette4: 750px;

/*****   TAG SIZE DEBUT MENU BURGER  *****/
$size-burger: 600px;
$size-burger1: 599px;

/*****   TAG SIZE PHONE   *****/
$size-phone: 393px;
$size-phone1: 380px;
$size-phone2: 350px;